<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ inventory_hostname }}</title>
</head>
<body>
{% if inventory_hostname == 'Web' %}
    <h1>Hello from web</h1>
{% elif inventory_hostname == 'Database' %}
    <h1>Hello from database</h1>
{% endif %}
    <p>Hostname: {{ ansible_facts['hostname'] }}</p>
    <p>OS: {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}</p>
    <p>Private IP: {{ ansible_facts['default_ipv4']['address'] }}</p>
</body>
</html>
