[defaults]
inventory = inventory
private_key_file = ../lastwk
inject_facts_as_vars = False

[ssh_connection]
host_key_checking = False
ssh_common_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
